
/* Estilos padrão */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline:  none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

html /*setando 1rem para ser igual a 10px*/{
	font-size: 62.5%;
}

body{
	background-color: #333333;
}

.colored{
	background-color: #141414;
}

.section-1-icons, .cards-container, .gallery{
	margin-bottom: 10rem;
}

/* Fim dos estilos padrão */

/*Navbar*/

 .navbar{
 	width: 100%;
 	height: 10rem;
 	background-color: #000;
 	position: fixed;
 	top: -9rem;
 	z-index: 100;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	box-shadow: .2rem .2rem .2rem #000;
 	transition: top .4s;
 }

 .navbar.change{
 	top: 0;
 	transition: top .4s .2s;
 }

 .navbar-link{
 	color: #aaa;
 	margin: 0 3rem;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	transition: color .3s, opacity .2s;
 	opacity: 0;
 }

 .change .navbar-link{
 	opacity: 1;
 }

 /** mudando a opacidade e velocidade e aparição dos icones da navbar **/

 .change .navbar-link:nth-child(1){
 	transition: opacity .4s .5s,
 	color .3s;
 }
 .change .navbar-link:nth-child(2){
 	transition: opacity .4s .6s,
 	color .3s;
 }
 .change .navbar-link:nth-child(3){
 	transition: opacity .4s .7s,
 	color .3s;
 }
 .change .navbar-link:nth-child(4){
 	transition: opacity .4s .8s,
 	color .3s;
 }
 .change .navbar-link:nth-child(5){
 	transition: opacity .4s .9s,
 	color .3s;
 }

/** **/

  .navbar-link:hover{
 	color: #fff;
 }

 .navbar-link i{
 	font-size: 4.5rem;
 }


 .navbar-link span{
 	font-size: 2rem;
 	font-weight: 800;
 	letter-spacing: .3rem;
 	margin-top: .5rem;
 }

/** cordinha que puxa a navbar **/
 .menu{
 	width: 3rem;
 	height: 5rem;
 	background-color: #000;
 	position: fixed;
 	top: 2rem;
 	left: 4rem;
 	border-radius: 30rem 30rem 15rem 15rem;
 	box-shadow: .1rem .1rem .1rem #000,
 	-.1rem -.1rem .1rem #000;
 	cursor: pointer;
 	transition: top .4s .2s;
 	z-index: 99;
 }

 .menu.change{
 	top: 11rem;
 	transition: top .4s;
 }

 .menu::before{
 	content: "";
 	width: .3rem;
 	height: 15rem;
 	background-color: #000;
 	position: absolute;
 	top: -15rem;
 	left: calc(50% - .2rem);
 	box-shadow: .1rem 0 .1rem #000;
 }

 /** **/

/*Fim da Navbar*/


/* Section 1 */

.section-1{
	width: 100%;
	height: 100vh;
	/*background: #141414;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.section-heading{
	font-size: 10rem;
	font-weight: 600;
	color: #fff;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: .5rem;
	text-shadow: .3rem .3rem .3rem #000;
}

.section-1 i{
	margin-top: 5rem;
	font-size: 23rem;
	color: #99ffbb ;/*color: #a79a2d;*/
	position: absolute;
	transform: translate(-50%, -50%) scale(0);
	text-shadow: .2rem .2rem .2rem #000;
	transition: transform .3s;
}

.section-1 i.change{
	transform: translate(-50%, -50%) scale(1);
	transition: transform .3s .3s;
}


/*Fim da Section 1 */


/*Section 2*/

.section-2{
	width: 100%;
	/*height: 120vh;*/
	/*background-color: #333333;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10rem 0;
}

.cards-container{
	display: flex;
	justify-content: space-evenly;
}

.card{
	width: 28rem;
	background-color: #99ffbb;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-shadow: 1rem 1rem 1rem #333333;
	margin-top: 10rem;
	position: relative;
	transform: rotateY(20deg) skewX(-2deg);
	transition: transform .5s, box-shadow .5s;
}

.card:hover{
	transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
	box-shadow: 2rem 2rem 2rem #333333;
}

.card::before{
	content: "";
	height: 100%;
	width: 1rem;
	background-color: #66ff99;
	position: absolute;
	top: 0;
	left: -1rem;
	transform: skewY(45deg);
	transform-origin: right;
	box-shadow: -.1rem -.1rem .1rem #262626;
}

.card::after{
	content: "";
	height: 1rem;
	width: 100%;
	background-color: #80ffaa;
	position: absolute;
	top: -1rem;
	left: 0;
	transform: skewX(45deg);
	transform-origin: bottom;
	box-shadow: -.1rem -.1rem .1rem #262626;
}

.card-img{
	width: 100%;
}

.card-name{
	font-size: 2.5rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .5rem;
	color: #111;
	margin: 2rem 0;
	text-shadow: .15rem .15rem .15rem #000;
}

.card-btn{
	width: 90%;
	background-color: #111;
	color: #888;
	border-radius: 4rem;
	font-size: 1rem;
	font-weight: 900;
	letter-spacing: .2rem;
	text-transform: capitalize;
	border: none;
	padding: .5rem 0;
	cursor: pointer;
	box-shadow: -.2rem, -.2rem, .2rem #000;
}

/*Fim da Section 2*/

/*Section 3*/

.section-3{
  /* background-color: #141414;*/
   padding: 5rem 0;
}

.gallery{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 10rem;
}

.gallery-link{
	position: relative;
	margin: 4rem 1rem;
}

.gallery-link::before{
	content: "";
	position: absolute;
	top: 2vw;
	left: 80%;
	width: .2rem;
	height: 0;
	background-color: #fff;
	transition: height .5s;
	z-index: 10;
}

.gallery-link:hover::before{
   height: 80%;
}


.gallery-link::after{
	content: "";
	position: absolute;
	top: 30%;
	left: 2rem;
	width: 0;
	height: .2rem;
	background-color: #fff;
	transition: width 0.5s;
}

.gallery-link:hover::after{
   width: 90%;
}

.food-img{
	width: 24vw;
	height: 15vw;
	object-fit: cover;
	box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 
	0.5rem 0.5rem 0.1rem #a2e946,
	0.7rem 0.7rem 0.1rem #297ce9, 
	0.9rem 0.9rem 0.1rem #e92999;
	transition: all .5s;
}

.gallery-link:hover .food-img{
	box-shadow: 1rem 1rem 0.1rem #e92929, 
	2rem 2rem 0.1rem #a2e946,
	3rem 3rem 0.1rem #297ce9, 
	4rem 4rem 0.1rem #e92999;
	filter: blur(.5rem);
	opacity: .5;
	transform: scale(1.1);
}

.food-name{
	position: absolute;
	top: 3rem;
	left: 3rem;
	font-size: 2rem;
	font-weight: 800;
	letter-spacing: .1rem;
	color: #fff;
	width: 0;
	overflow: hidden;
	transition: width .3s;
}

.gallery-link:hover .food-name{
	width: 100%;
	transition: width 1.5s .5s;
}

.food-description{
	position: absolute;
	bottom: 3vw;
	left: 2rem;
	width: 60%;
	font-size: 1.2rem;
	font-weight: 300;
	color: #fff;
	letter-spacing: .1rem;
	text-transform: uppercase;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s;
}

.gallery-link:hover .food-description{
	opacity: 1;
	visibility: visible;
	transition: opacity 1s 1s;
}

/*Fim da Section 3*/

/*Section 4*/
 .section-4{
 	width: 100%;
 	height: 30vh;
 	background-color: #141414;
 	display: flex;
 	justify-content: space-around;
 	align-items: flex-start;
 	padding: 3rem 0;
 	position: relative;
 }

 .section-4-text{
 	text-transform: uppercase;
 }

 .section-4-heading{
 	font-size: 4rem;
 	font-weight: 800;
 	color: #99ffbb;
 }

 .section-4-paragraph{
 	font-size: 1.3rem;
 	color: #888;
 }

 .signup-form{
 	display: flex;
 	align-items: center;
 }

 .signup-form-input{
 	width: 35rem;
 	height: 5rem;
 	padding: 1rem;
 	border: .2rem solid #66ff99;
 	font-size: 1.4rem;
 	font-weight: 600;
 	letter-spacing: .1rem;
 	color: #99ffbb;
 }

 .signup-form-input::placeholder{
 	color: #8c8c8c;
 }

 .signup-form-btn{
 	position: relative;
 	left: -4.5rem;
 	width: 4rem;
 	height: 4rem;
 	background-color: #333;
 	color: #99ffbb;
 	border: none;
 	font-size: 1.6rem;
 	cursor: pointer;
 }

 .copyright{
 	position: absolute;
 	bottom: 2rem;
 	font-size: 1.3rem;
 	font-weight: 300;
 	color: #eee;
 	letter-spacing: .1rem;
 	border-top: .1rem solid #888;
 	padding-top: 3rem;
 	padding-bottom: 1rem;
 	margin-bottom: -2rem;
 	width: 100%;
 	text-align: center;
 }

 .footer-link{
 	margin: 2rem .5rem 0.5rem;
 	color: #99ffbb;
 }
 


/*Fim da Section 4*/


/*Responsive*/
@media (max-width: 1400px){
	html{
		font-size: 55%;
	}

	.section-2{
		height: auto;
		padding: 10rem 0 12rem 0;
	}

	.cards-container{
		margin-top: 10rem;
	}

	.gallery-link{
		width: 40rem;
		height: 25rem;
		margin: 4rem;
	}

	.food-img{
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 1000px){
	.section-heading{
		font-size: 8rem;
		margin: 0 5rem;
	}

	.section-1 i{
		font-size: 20rem;
	}

	.cards-container{
		flex-wrap: wrap;
	}

	.card{
		margin: 5rem;
	}

	.section-4{
		height: 30rem;
	}
}

@media (max-width: 900px){
	.navbar-link{
		margin: 2rem;
	}

	.navbar-link i{
		font-size: 4rem;
	}

	.navbar-link span{
		font-size: 1.8rem;
	}
}

@media (max-width: 700px){
	.section-heading{
		font-size: 7rem;
		margin: 0 10rem;
	}

	.section-1 i{
		font-size: 18rem;
	}

	.menu{
		left: 2rem;
	}

	.card{
		width: 25rem;
	}

	.section-4{
		height: 40rem;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.section-4-text{
		margin-bottom: 7rem;
	}

	.signup-form{
      margin-right: -4.5rem;
	}


}

@media (max-width: 550px){
	html{
		font-size: 45%;
	}

	.navbar-link{
	    margin: 0 .7rem;
	}

	.menu{
		left: 1.5rem;
	}

	.section-2{
		padding-bottom: 8rem;
	}


}
/*Fim do Responsive*/